
a {
    padding: 5px 10px;
    text-decoration: none;
 }

 a:link {
    color: yellow
 }

 a:visited {
    color: aqua;

 }
 a:hover {
    background-color: aquamarine;
 }
 a :active {
    color: brown;
 }
